---
title: Sevenoaks Web Scene - Monthly meet up for devs in Sevenoaks and surrounding area
---

{% include header.html %}

<section id="slide-1" class="homeSlide">


  <img src="images/sws.jpg" alt="SWS logo" class="logo" />

  <h2>Sevenoaks Web Scene</h2>

  <p>Welcome to Sevenoaks Web Scene, a monthly meetup for developers, designers and creatives in the Sevenoaks area.  Meeting the first Tuesday of every month, <a href="http://twitter.com/sevenoaksweb">follow on twitter</a> for up to date news.</p>

  <p>Join the SWS group on <a href="https://gettogether.community/sevenoaks-web-scene/">Get Together</a> for updates and schedule</p>

  <p><strong>The next Sevenoaks Web Scene meetup will be on Tuesday 5th November 2019, at the Oak Tavern and Tap House, Sevenoaks High Street.  Check <a href="https://gettogether.community/events/2428/sevenoaks-web-scene/">gettogether.community</a> for the latest details.</strong></p>

  <h3>Slack Team</h3>
  <p>We have a Slack team for regular discussion between members, if you would like to be added, just send an email to <a href="mailto:matt@todayishould.com?SWS%20Slack%20Invite">matt@todayishould.com</a> to request an invite.</p>

</section>



{% include footer.html %}
