---
title: Sevenoaks Web Scene - Monthly meet up for devs in Sevenoaks and surrounding area
---

{% include header.html %}

<section id="slide-1" class="homeSlide">
  

  <img src="images/sws.jpg" alt="SWS logo" class="logo" />

  <h2>Sevenoaks Web Scene</h2>

  <p>Welcome to Sevenoaks Web Scene, a monthly meetup for developers, designers and creatives in the Sevenoaks area.  Meeting the first Tuesday of every month, <a href="http://twitter.com/sevenoaksweb">follow on twitter</a> for up to date news.</p>
  
  <p>Or subscribe to email reminders and updates if that's more your thing:</p>
  <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="y/1D/3E4/9BB/ACB2140A4E1FF998">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>

  <p><strong>The next Sevenoaks Web Scene meetup will be on 7th April 2015 at <a href="http://www.faucetinn.com/oaktree/">The Oak Tree Sevenoaks</a></strong></p>
  
  <h2>Perch Demo</h2>

  <p>Following the impromptu keystone.js demo in March, this month <a href="http://twitter.com/mattbee">Matt</a> will be demoing <a href="http://grabaperch.com">Perch CMS</a>.</p>
         

</section>

        

{% include footer.html %}
    