---
title: Sevenoaks Web Scene - Monthly meet up for devs in Sevenoaks and surrounding area
---

{% include header.html %}

        <h1>Sevenoaks Web Scene</h1>

        <p>Welcome to Sevenoaks Web Scene, a new monthly meetup for developers, designers and creatives in the Sevenoaks area.</p>
        <p>We'll probably be meeting the first Tuesday of every month, <a href="http://twitter.com/sevenoaksweb">follow on twitter</a> for up to date news. Expect the first meeting in March.</p>

{% include footer.html %}
    